footer {
  background: #f2f2f2;
  padding: 45px 0 10px;

  .footer-about-us {
    max-width: 180px;
  }

  h3 {
    margin-bottom: 15px;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 35px;
    padding-right: 22%;

    li {
      margin-bottom: 10px;

      &::before {
        display: none;
      }

      a {
        color: #383838;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .footer-call {
    font-family: 'HelveticaNeue';
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    color: #383838;
    margin-bottom: 10px;

    a {
      color: #383838;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      margin: 0;
    }
  }

  .footer-social {
    img {
      border-radius: 5px;
    }

    p {
      margin: 0;
    }
  }

  .legal {

    p {

      a {

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
